# Cloudflare API token for DNS challenge
CF_API_TOKEN=your_cloudflare_api_token_here

# Email for Let's Encrypt / ACME
CADDY_EMAIL=your_email@example.com

# Docker proxy network
CADDY_INGRESS_NETWORKS=caddy-proxy

# Caddy Docker Caddyfile path
CADDY_DOCKER_CADDYFILE_PATH=/etc/caddy/Caddyfile
